name: GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@v3.34
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: kiprutokels

          template: classic
          base: header, repositories, community

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage

          plugin_achievements: yes
          plugin_achievements_threshold: X
          plugin_achievements_display: compact
          plugin_achievements_secrets: no
          plugin_achievements_limit: 6
