name: GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */24 * * *"

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: kiprutokels

          template: classic
          base: header, repositories, community

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage

          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_display: compact
